* {
	box-sizing: border-box;
	margin: 0px;
}

.card {
	position: absolute;
	width: 550px;
	height: 868px;
	left: 65px;
	top: 53px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #23252c;
}

.card-inner {
	border-radius: 10px;
	height: 75%;
	width: 60%;
	color: white;
	background-color: #1a1b21;
}

.info {
	text-align: center;
	justify-content: center;
	line-height: 30px;
}

.info > #photo {
	width: 80%;
	display: block;
	margin: 20px auto;
	border-radius: 10px;
}
