* {
	box-sizing: border-box;
	margin: 0px;
}

.card {
	position: absolute;
	width: 550px;
	height: 868px;
	left: 65px;
	top: 53px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #23252c;
}

.card-inner {
	border-radius: 10px;
	height: 90%;
	width: 77%;
	color: white;
	background-color: #1a1b21;
}

.info {
	text-align: center;
	justify-content: center;
	width: 100%;
	margin: auto;
}

#info-photo-container {
	background-image: linear-gradient(#414f6a, #33343b, #1a1b21);
}
